.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: color(#000 alpha(-80%));
}

.main {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eef3f5;
  width: 50%;
  max-width: 550px;
  padding: 1rem;
  box-shadow: 0 1px 3px 0 color(#000 alpha(-80%));
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
