.base {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
}

.inputContainer {
  position: relative;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 1px 3px 0 color(#000 alpha(-80%));
}

.gear {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  &:hover path {
    opacity: 0.35;
  }
}

.downloadErr {
  padding: 1rem;
  color: color(#f54b4b alpha(80%));
  text-align: center;
  font-weight: 600;
}

.outputDir {
  position: absolute;
  bottom: -1.5rem;
  right: 1rem;
  font-size: .75rem;
  color: color(#777 alpha(-50%));
  cursor: pointer;
  &:hover {
    color: color(#777 alpha(-30%));
  }
}

.modal {
  h3 {
    margin-top: 1.25rem;
  }
}

.outputInput {
  position: relative;
  input {
    padding-right: 7rem;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.6rem 0.8rem;
    outline: 0;
    border: 1px solid color(#333 alpha(-70%));
    border-radius: 2px;
    background: #fff;
    font-size: 1rem;
    cursor: pointer;
    color: #777;
    transition: color .2s;
    &:hover {
      color: #000;
    }
  }
}
