.input {
  width: 100%;
  padding: 0.5rem 2.2rem 0.5rem 1rem;
  font-size: 1.125rem;
  font-weight: 300;
  background: #eef3f5;
  outline: 0;
  border: 1px solid color(#ddd alpha(-30%));
  border-radius: 2px;
  &:disabled {
    color: color(#777 alpha(-50%));
  }
}

.inputError {
  position: absolute;
  right: 1rem;
  top: -1.5rem;
  color: color(#f54b4b alpha(80%));
  font-weight: 600;
}
